{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "loose": true,
        "target": { "browsers": ["last 1 version"] }
      }
    ],
    "react"
  ],
  "env": {
    "cjs": {
      "plugins": [
        "transform-object-rest-spread",
        "transform-class-properties",
        "transform-es2015-modules-commonjs"
      ]
    },
    "test": {
      "plugins": [
        "transform-object-rest-spread",
        "transform-class-properties",
        "transform-es2015-modules-commonjs"
      ]
    }
  },
  "plugins": ["transform-object-rest-spread", "transform-class-properties"]
}
